<!-- matchHistory.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>공식경기 매칭리스트</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--    더보기 버튼 시 '비동기' 처리하는 js-->
    <script src="/js/loadMatches.js"></script>
    <link rel="stylesheet" href="/css/matchHistory.css">
</head>
<body>
<h1>공식경기 기록</h1>
<table>
    <thead>
    <tr>
        <th>경기날짜</th>
        <th>승/패</th>
        <th>닉네임</th>
        <th>득점 수</th>
        <th>닉네임</th>
        <th>득점 수</th>
        <th>경기 종료</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="match : ${matches}">
        <td>
            <script th:inline="javascript">
                var formattedDate = new Date(/*[[${match.matchDate}]]*/).toLocaleString('ko-KR', {
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit',
                    hour: 'numeric',
                    minute: 'numeric'
                });
                document.write(formattedDate);
            </script>
        </td>
        <td>
            <span th:style="${match.matchInfo[0].matchDetail.matchResult == '승' ? 'color: blue' : (match.matchInfo[0].matchDetail.matchResult == '무' ? 'color: black' : 'color: red')}"
                  th:text="${match.matchInfo[0].matchDetail.matchResult}"></span>
        </td>
        <td th:text="${match.matchInfo[0].nickname}"></td>
        <td th:text="${match.matchInfo[0].shoot.goalTotal}"></td>
        <td th:text="${match.matchInfo[1].nickname}"></td>
        <td th:text="${match.matchInfo[1].shoot.goalTotal}"></td>
        <td>
            <span th:if="${match.matchInfo[0].matchDetail.matchEndType == 0}">정상종료</span>
            <span th:if="${match.matchInfo[0].matchDetail.matchEndType == 1}">몰수승</span>
            <span th:if="${match.matchInfo[0].matchDetail.matchEndType == 2}">몰수패</span>
        </td>
    </tr>
    </tbody>
</table>
<button id="loadMoreButton">더보기</button>

<script>
    $(document).ready(function () {
        // "더보기" 버튼 클릭 시 이벤트 처리
        $('#loadMoreButton').click(function () {
            // 추가적인 처리를 위한 코드 작성
            // ...
        });
    });
</script>
</body>
</html>