<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- Thymeleaf 네임스페이스를 선언 -->
<head>
  <title>유저정보</title>
</head>
<body>
<h1>유저정보</h1>
<p th:text="${nickNameUser.nickname} + ' 구단주님'"></p>
<p th:text="'레벨 : ' + ${nickNameUser.level}"></p>

<p th:text="'accessId : ' + ${accessIdUser.accessId}"></p>

<tbody>
<div th:each="match : ${userMatchHistory}">
  <p th:text="${match.getMatchType()} + ' 최고 티어 :' + ${match.getDivision()}"></p>
  <!-- 나머지 필드들도 출력 가능 -->
</div>
</tbody>


</body>
</html>